<header class="header">
    <div class="logo">
        <img width="40px" src="/images/daw-project-logo2-removebg-preview.png" alt="the photo don't found">
    </div>
    <nav class="nav">
        <a href="/men">Men</a>
        <a href="/women">Women</a>
        <a href="/children">Children</a>
        <a href="/promotion">Promotions</a>
    </nav>
    <div class="search-bar">
        <form id="search-form">
            <input type="text" id="search-input" placeholder="Search" required>
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <div class="nav-icons">
        <a style="color: black;" href="/login"><i class="fas fa-user"></i></a>
        <div class="besket-shopping">
            <i class="fa-solid fa-basket-shopping"></i>
            <span>0</span>
        </div>
    </div>
</header>
