@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: black;
    background-color: white ;
    padding:0px 50px;
    
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: relative;
    left: 20px;
    
    
}
.nav a:nth-child(1) {
  text-decoration: underline; 
    font-weight: bold;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}
.nav a{
    text-decoration: none;
    font-size: medium;
    font-weight: 500;
    color: black;
    transition: color 0.2s;
    
}
.nav a:hover{
    color: #8b8b8b;
}

.nav-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1em; 
}
.nav-icons i{
    font-size: 20px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}
.nav-icons i:hover{
    color: #838080;
}
.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.3);
  padding: 65px 20px 40px;
  z-index: 100;
  overflow: auto;
  transition: 0.4s;
}
.cart.active {
  right: 0;
}
.cart-title{
  text-align: center;
  font-size: 30px;
  
}
.cart-box{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.cart-box img{
  width: 100px;
  height: 100px;
  border-radius:6px ;
  object-fit: cover;
  margin-right: 20px;
}
.cart-detail{
  display: grid;
  gap: 8px;
  margin-right: auto;

}
.cart-product-title{
  font-size: 16px;
  line-height:1 ;
}
.cart-price{
  font-weight: 500;
}
.cart-quantity{
  display: flex;
  width: 85px;
  border: 1px solid #999;
}
.cart-quantity button{
  background: transparent;
  width:30px ;
  border: none;
  font-size: 20px;
  cursor: pointer;

}
#decrement{
  color: #999;
}
.number{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  cursor: default;

}
#increment{
  color: #999;
}
#cart-remove{
  font-size: 20px;
  cursor: pointer;
}
.total{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #333;
  margin-top: 20px;
  font-size: 12px;
}
.total-price{
  margin-left:10px ;
  font-weight: 600;
}
.btn-pay{
  text-decoration: none;
}
.btn-buy{
  text-decoration: none;
  display: block;
  padding: 10px 30px;
  background: #e35f26;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  margin: 20px auto 0;
  cursor: pointer;
  transition: background-color 0.3s ,box-shadow 0.3s ease-in-out;
}
.btn-buy:hover{
  background-color: #e35f26;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
#cart-close{
  position: absolute;
  top: 20px;
  right:15px;
  font-size: 25px;
  cursor: pointer;
}
.besket-shopping span{
  color: white;
  background-color: red;
  width: 18px;
  height: 18px;
  
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
 position: absolute;
 right: 40px;
 top: 23px;
 
}


.main  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.main-img{
    position: absolute;
    top: 75px;
    right: 230px;
}
.main-info{
    background-color: #f1faff;
    width: 120%;
    height: 280px;
    padding: 50px 60px;

}
.main-info p{
    color: #676666;
    font-size: small;
    font-weight: 400;
}
.main-info h1{
    color: black;
    font-size: 35px;
    font-weight: 400;
}
/* From Uiverse.io by doniaskima */ 
.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
  position: relative;
  top: 10px;
  left: 10px;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}
.More-views {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-top: 190px;
  margin-bottom: 200px;
}

.views-content{
  display: flex;
  flex-direction: row;
  gap: 2rem;
 
}
.views-card{
  width: 350px;
  height: 500px;
  border: 2px;
  border-color: #000000;

}
.views-card img{
  width: 350px;
  height: 500px;
}
.views-card a{
  position: relative;
  bottom: 70px;
  left: 250px;
}
.views-card button{
  color: #000000;
  background-color: white;
  width: 80px;
  height: 37px;
  border-style: solid;
  border-radius: 18px;
  border-color: white;
  font-weight:500 ;
  font-size: 15px;
  transition: box-shadow 0.3s ease-in-out;
}
.views-card button:hover{
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .12);
}
.title-product{
  margin-top:150px ;
}
.Product{
  width: 100%;
  min-height:100vh ;
  background-color:white ;
  padding: 20px ;
  }
  .title-product h2{
      font-size: 35px;
      font-weight: 400;
      padding-left: 50px;
      padding-bottom: 30px;
  }
  .title-class{
    font-size: 35px;
    margin-top: 50px;
    margin-left: 10px;

  }
  .title-class h3{
    font-weight: 400;
   
  }
  .Product-content {
  
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      gap: 1.2em;
      margin: 30px 0px;
     
     
  }
  
  .product_image img{
      width: 150px;
      position: relative;
      bottom: 20px;
      transition:  transform 0.2s;
      cursor: pointer;
      
  }
  
  .product-card {
      width: 300px;
      height: 420px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      margin-bottom: 20px;
      border: solid 2px #b7b5d1;
      border-radius: 0.5rem;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .product-image {
      width: 150px;
      transition:  transform 0.2s;
      cursor: pointer;
      
  }
  
  .product-image:hover {
      transform: scale(1.07);
  }
  
  .product-info {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      gap: 0.3rem
  }
  
  .product-card-h1 {
      font-size: 20px;
  }
  
  .product-btn {
      background-color: #b7b5d1;
      padding: 0.5rem 1rem;
      color: white;
      border-radius: 2rem;
      border: solid 2px #b7b5d1;
      cursor: pointer;
      transition: 200ms ease-in-out;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
      font-size: 1rem;
      font-weight: 600;
  }
  
  .product-btn:hover {
      background-color: #f4f7fe;
      color: rgb(0, 0, 0)
  }
  .product-btn:active{
    background-color: #b7b5d1;
   }
 
  footer{
    width: 100%;
    
   
}
.footer_main{
    
  width: 100%;
  background: white;
  height: 350px;
  display: flex;
  justify-content: space-around; 
  align-items: first baseline;
  overflow: visible;
   
}
.tag{
    margin: 10px 0;

}

.center{
    text-align: center;
}

.tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #0101016c;
}
.tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 9px 0;
    transition: color 0.2s;

}
.tag a:hover{
    color: #7b7878;
}
.tag a i{
    padding: 0 10px;
    transition: 0.3;
}

.tag a i:hover{
    color: #b1789f;
}

.social_link{
    display: flex;

}
.social_link a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 20px 10px rgba(0 ,0 , 0, 0);
    position: relative;
    right: 10px;
    margin: 0 5px;
    z-index: 10;
    overflow: hidden;
    padding-top:3px;
    padding-right: 32px;
}

.fa-brands{
    font-size: 15px;
    line-height: 30px;
    z-index: 10;
    position: relative;
    transition: 0.5s;

}

.social_link a:hover i{
    color: white;
}
.social_link a:after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0px;
    left: -100px;
    background-color: #b7b5d1 ;
    position: absolute;
    z-index: -10;
    transition: 0.5s;
}
.social_link a:hover::after{
    left: 0;
}
.search_bar{
    width: 230px;
    height: 30px;
    background: rgba(202, 202, 202, 0.192);
    border-radius: 25px;
    padding-bottom: 10px;
}
.search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
    
    

}

.search_bar button{
    padding: 7px 15px;
    background-color: #b7b5d1;
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.search_bar button:hover{
box-shadow: 5px 5px 15px rgba(0, 0, 0, .12);
}
.search_bar button:active
{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.30);
 }
hr {
        height: 1px;
        border: none;
        background-color: rgba(0, 0, 0, 0.169);
 }
 .copirate{
    padding: 10px 20px;
    margin-top: 10px;
 }
  
.error-cart {
  margin-top: 3rem;
  color: red;
  font-size: small;
  font-weight: 300;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transform: translateX(150%);
    transition: transform 0.3s ease-in-out;
}

.notification.show {
    transform: translateX(0);
}
